@page
@model SessionModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Session Signup Form for EPIC Success Middle School College & Career Conference - March 30, 2022</h1>
</div>
<form method="post">
    
    

    <fieldset>
    <label for="session.SessionCategory">Choose the category closest related to your demonstration:</label>
    <select id="session.SessionCategory" name="session.SessionCategory">
        <option value="Agriculture & Natural Sciences">Agriculture & Natural Sciences</option>
        <option value="Allied Health">Allied Health</option>
        <option value="Business">Business</option>
        <option value="Career & Technical Education">Career & Technical Education</option>
        <option value="Computer Info Systems">Computer Info Systems</option>
        <option value="Counseling & Social Services">Counseling & Social Services</option>
        <option value="Criminal Justice">Criminal Justice</option>
        <option value="Culinary Arts">Culinary Arts</option>
        <option value="Education">Education</option>
        <option value="Engineering">Engineering</option>
        <option value="Lawyer & Paralegal">Lawyer & Paralegal</option>
        <option value="Media Communications & Graphic Design">Media Communications & Graphic Design</option>
        <option value="Nursing Programs">Nursing Programs</option>
    </select>
    </fieldset>
    <br>
    <fieldset>
    <p>Choose one or both sessions:</p>

    <div>
      
        <label><input asp-for="session.SessionOne">Session 1: 8:50 am - 9:20 am</label>
    </div>
    </fieldset>

    <fieldset>
    <div>   
      <label><input asp-for="session.SessionTwo">Session 2: 10:35 am - 11:05 am</label>
    </div>
    </fieldset>
    <br>
    <fieldset>
    <p>Select what you need for your demonstration:</p>

    <div>
      
      <label><input asp-for="session.Podium">Podium</label>

      
      <label><input asp-for="session.Outlet">Electrical Outlet</label>

      
      <label><input asp-for="session.CleanWall">CleanWall for projection</label>

      
      <label><input asp-for="session.WhiteBoard">WhiteBoard</label>
      

      
      <label><input asp-for="session.DemoTable">Demonstration Table</label>
    </div>
    </fieldset>




    <!--Submit Button-->
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>