@page
@model SessionModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Session Signup Form</h1>
</div>
<form method="post">
    
    <div class="form-group"><!--Replace with Category Drop Down   template for basic html labels-->
        @* <label asp-for="speaker.FirstName" class="control-label">First Name. Required.</label>
        <input asp-for="speaker.FirstName" class="form-control" />
        <span asp-validation-for="speaker.FirstName" class="text-danger"></span> *@
    </div>
    <!--Replace with Session 1 or 2 or both Check Boxes-->

    <!--Replace with AV Needs Check Boxes-->





    <!--Submit Button-->
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>