@page
@model InformationConfirmationModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">LosBarrios</h1>
    <p>LosBarrios Index Page</p>
</div>
<table class="table">
        <tbody>
                        <div class="form-group">
                            @Html.DisplayFor()
                            @Html.DisplayFor()
                            

                        </div>
}
        <</tbody>
    </table>
