@page
@model FormModel
@{
    ViewData["Title"] = "My Available Forms";
}

<div class="text-center">
    <h1 class="display-4">LosBarrios Forms</h1>
    <p>Forms related to the user go here</p>
</div>
